############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# Files specific to this project

Joe.Loughry_information_security.pdf
Joe.Loughry_references.pdf

